name = "divine-name-server"
main = "src/index.ts"
compatibility_date = "2024-11-15"

# Routes
routes = [
  { pattern = "divine.video/.well-known/*", zone_name = "divine.video" },
  { pattern = "names.admin.divine.video/*", zone_name = "divine.video" },
  { pattern = "names.divine.video/api/username/*", zone_name = "divine.video" }
]

[[d1_databases]]
binding = "DB"
database_name = "divine-name-server-db"
database_id = "e7e081c4-830d-449c-9de5-d93eaacefb34"

# Admin UI static assets
[assets]
directory = "./admin-ui/dist"
